.margin-auto
{
	display: block;
}

@media (max-width: 321px) 
{
	.card
	{
		width: 16rem !important;
	}

	.text-size
	{
		font-size: 13px !important;
	}
}

@media (min-width: 991.98px) 
{
	.card
	{
		display: inline-block !important;
	}
}