  <nav class="navbar navbar-light bg-primary sticky-top" style="width: 100% !important;">
    <a class="navbar-brand">
      <img src="../assets/img/logo.png" width="30" height="30" class="d-inline-block align-top bg-white rounded-circle" alt="" loading="lazy">
      <span class="text-white text-size" style="font-size: 16px;"> Escuela Preparatoria Oficial Núm. 114 </span>
    </a>
  </nav>

<div class="container mt-3">

  <div class="mx-auto card mr-0 mb-3 mr-lg-5 shadow rounded" style="width: 20rem;">
    <img src="../assets/img/word.png" class="card-img-top p-3" height="200px" style="width: 60% !important; display: block; margin: 0px auto;">
    <div class="card-body">
      <h5 class="card-title">Indicaciones Nuevo Ingreso</h5>
      <!--
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       -->
      <a class="btn btn-info" (click)="downloadFile('indicaciones')">Descargar</a>
    </div>
  </div>

  <div class="mx-auto card mr-0 mb-3 mr-lg-5 shadow rounded" style="width: 20rem;">
    <img src="../assets/img/excel.png" class="card-img-top p-3" height="200px" style="width: 60% !important;display: block; margin: 0px auto;">
    <div class="card-body">
      <h5 class="card-title">Cédula Inscripción</h5>
      <!--
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      -->
      <a class="btn btn-info" (click)="downloadFile('cedula')">Descargar</a>
    </div>
  </div>

  <div class="mx-auto card mr-0 mb-3 mr-lg-5 shadow rounded" style="width: 20rem;">
    <img src="../assets/img/word.png" class="card-img-top p-3" height="200px" style="width: 60% !important;display: block; margin: 0px auto;">
    <div class="card-body">
      <h5 class="card-title">Inscripción 2020-2021</h5>
      <!--
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      -->
      <a class="btn btn-info" (click)="downloadFile('inscripcion')">Descargar</a>
    </div>
  </div>

  <div class="mx-auto card mr-0 mb-3 mr-lg-5 shadow rounded" style="width: 20rem;">
    <img src="../assets/img/word.png" class="card-img-top p-3" height="200px" style="width: 60% !important;display: block; margin: 0px auto;">
    <div class="card-body">
      <h5 class="card-title">Número de Cuenta</h5>
      <!--
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      -->
      <a class="btn btn-info" (click)="downloadFile('cuenta')">Descargar</a>
    </div>
  </div>

  <div class="mx-auto card mr-0 mb-3 mr-lg-5 shadow rounded" style="width: 20rem;">
    <img src="../assets/img/pdf.png" class="card-img-top p-3" height="200px" style="width: 60% !important;display: block; margin: 0px auto;">
    <div class="card-body">
      <h5 class="card-title">Calendario 2020-2021</h5>
      <!--
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      -->
      <a class="btn btn-info" (click)="downloadFile('calendario')">Descargar</a>
    </div>
  </div>

</div>